
#avatar {
	height: 150px;
	width: 150px;
	border: 0px solid;
}

#image {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #CCEBCC;
}

.btn {
	width: 150px;
}

.button {
	padding-bottom: 10px;
	padding-top: 10px;
}


#wrapper {
	width: 100%;
	background-color: #EDFAED;
	margin-right: auto;
	margin-left: auto;
	border: 0px solid;
	display: inline-block;
	overflow: hidden;
}

.text{
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	border: 0px solid;
	float: left;
}

#buttons {
	padding-top: 0px;
	width: 30%;
	text-align: center;
	border: 0px solid;
	display: inline-block;
	overflow: hidden;
}
