h1, h3 {
	text-align: center;
}

p {
	font-size: 200%;
	font-weight: lighter;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#header {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	font-weight: lighter;
	font-size: 450%;
	color: #595C5C;
	background-color: #EDFFFF;
}

#text {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid;
	overflow: hidden;
}

.info {
	width: 200px;
	height: 126px;
	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid;
	display: inline-block;
	float: left;
	text-align: right;
}

.image {
	width: 250px;
	border: 0px solid;
	padding-left: 20px;
	padding-top: 10px;
	display: inline-block;
	overflow: hidden;
}


.button {
	text-align: center;
	padding-right: 50px;
	padding-top: 25px;
}

.container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid green;
}

#php {
	padding-top: 1px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-left: 0px;

	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid blue;
	background-color: #CCF5EA;
}

#closed {
	color:red;
	font-weight:bold;
}

#open {
	color: green;
	font-weight: bold;
}

#late {
	color: blue;
	font-weight: bold;
}

.rating, .author {
	font-weight: bold;
}

#search {
	width: 209px;
	float: left;
	display: inline-block;
}

#searchButton {
	float: right;
	display: inline-block;
}

#searchForm {
	width: 250px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

#sort {
	width: 150px;
}

option {
	width: 200px;
}

#main {
	text-align: center;
}