h1 {
	text-align:  center;
}

tr {
	background-color: #CFDCCF;
}

.answer {
	text-align: right;
}

.center {
	text-align: center;
}

.header {
	text-align: center;
	font-weight: bolder;
}

.question {
	font-weight: bolder;
}

#questions {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid;
	background-color: #EDFAED;
}

#results {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#resultsBackground {
	background-color: #CCEBCC;
}

#resultButton {
	text-align: center;
	margin: auto;
}